p.error {
  color : red;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  background: #bec8d9;
  color: #253042;
}


header {
  position: relative;
  margin: 25px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

header:hover {
  font-style: none;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 50px auto;
}

.loginHover {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  width: 470px;
  height: 60px;
  padding: 0px 15px 0px 15px;
  
  background: #fff;
  outline: none;
  color: #726659;
  
  border: solid 2px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.loginHover:hover {
  background: #2D3A4E;
  color: #e2dedb;
}

.modal-header {
      width: 470px;
}


#submit {
  width: 470px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 2px #b3aca7;
}

#submit:hover {
  color: #e2dedb;
}

.ReactModal__Content:focus {
  outline : 0;
}

#SignUpForm {
    margin: 0px;
    line-height: 1.42857143;
    position: relative;
    left: -12px;
}
h1 {
  margin: 0
}