.hero {
  position: relative;
  padding-top: 10px;
  height: 100vh;
  background: linear-gradient(#3F516E, transparent 90%),
              linear-gradient(0deg, #000, transparent),
              #000 no-repeat center fixed;
  background-size: cover;
}